@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Art Store</h1>
    <p>Get the best Art.</p>
</div>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="message">@Model.Message</div>
}
<div class="container art">
    @if (Model.arts.Count > 0)
    {
        @foreach (var art in Model.arts)
        {
            <div class="card">
                <img src="@art.Image">
                <h3>@art.Description</h3>
                @if (Request.Cookies["UserId"] != null)
                {
                    @if (Int32.Parse(Request.Cookies["UserId"]) != art.UserId)
                    {
                        <p class="price">@art.Price</p>
                        <form method="post" asp-page-handler="BuyArt">
                            <input type="hidden" value="@art.Id" name="artId">
                            <button type="submit" class="btn btn-primary">Buy Art</button>
                        </form>
                    }
                    else
                    {
                        <p class="price">Owned</p>
                    }
                }
                else
                {
                    <p class="price">@art.Price</p>
                }

            </div>
        }
    }


</div>